@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&family=Roboto:wght@100;400&display=swap');

:root {
    --col1: #334155;
    --col2: #becce5;
    --col3: #f1f1e6;
    --col4: #bb881e;
    --col5: #dba52f;

    --warning: #dc2626; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--col4);
}

body {
    background: radial-gradient(ellipse at right bottom, #64748B 5%, #475569 25%, #334155 50%, #0F172A 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* NAVIGATION */
nav {
    display: flex;
    justify-content: flex-end;
    font-size: 6rem;
    margin: 2rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--col2);
}

.nav-link {
    padding: 0.5rem;
    margin: 0 1.5rem;
}

.nav-link:hover {
    text-decoration: none;
    box-shadow: 0 0 0 3px var(--col2);
    border-radius: 5px;
}


/* MAIN */
main {
    min-height: 100%;
}


/* FOOTER */
footer {
    font-variant: small-caps;
    font-size: 2rem;
    text-align: center;
    margin-top: auto;
    color: var(--col2);
}


/* Additional */
ul {
    list-style-type: none;
}

.helptext, li {
    font-size: 2rem;
}