@import url(base.css);

main {
    margin: auto;
}

#main-msg {
    margin: auto;
    text-align: center;
    font-size: 15rem;
    font-weight: 600;
}

small {
    font-size: 10rem;
    font-style: italic;
    font-weight: 400;
}