@import url(base.css);

main {
    padding: 3rem;
    margin: 5rem;
    color: var(--col4);
}

form {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 4rem;
}

fieldset {
    border: 0;
    margin: 0.5rem;
    padding: 1rem;
}

legend {
    font-size: 6rem;
    font-weight: 700;
}

label {
    font-size: 4rem;
    display: block;
    padding-top: 1rem;
}

input[type=text], input[type=password], input[type=email]{
    display: block;
    width: 60%;
    height: 6rem;
    font-size: 4rem;
}

.form-func {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
}

button {
    font-size: 4rem;
    background-color: var(--col4);
    border: none;
    color: var(--col1);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

button:hover {
    background-color: var(--col5);
    box-shadow: 0 0 0 1px var(--col5);
}

.form-func a {
    font-size: 2rem;
    color: var(--col2);
    padding-bottom: 0.5rem;
    margin-left: 1.5rem;
}