@import url(base.css);


main {
    padding: 3rem;
    margin: 5rem;
}

fieldset {
    margin: 5rem 20rem 10rem 20rem;
    border-radius: 2rem;
}

legend {
    margin: auto;
    padding: 0.5rem;
    border-radius: 2rem;
}

legend a {
    font-size: 6rem;
    color: var(--col4);
    text-decoration: none;
}

legend a:hover {
    color: var(--col5);
}

video {
    display: block;
    margin: auto;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: 1px solid var(--col6);
}