{% extends 'video/layout.html' %}
{% load static %}

{% block extra-header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/video-list.css'%}">
{% endblock extra-header %}

{% block content %}

    <main>
    {% for video in videos %}
        <div>
            <fieldset>
                <legend><a href="{% url 'video:video_detail' video.id %}">{{ video.title }}</a></legend>
                <video controls>
                    <source src="{{ video.video.url }}">
                </video>
            </fieldset>
        </div>
        {% endfor %}
    </main>


{% endblock content %}