{% extends 'video/layout.html' %}
{% load static %}

{% block extra-header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new-video.css'%}">
{% endblock extra-header %}


{% block content %}

    <main>
        <div>
            <fieldset>
                <legend>{{ object.title }}</legend>
                <video controls>
                    <source src="{{ object.video.url }}">
                </video>
                {% if object.author == user %}
                    <div>
                        <a href="{% url 'video:video-update' object.id %}">Update</a>
                        <a href="{% url 'video:video-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
                <p>{{ object.date_posted }}</p>
                <p>{{ object.description }}</p>
                <p>{{ object.author }}</p>
            </fieldset>
        </div>
    </main>

{% endblock content %}