{% extends 'video/layout.html' %}
{% load static %}

{% block extra-header %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">

{% endblock extra-header %}


{% block content %}

    <main>
        <form method="POST">
        {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-func">
                <button type="submit">Log In</button>
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
        </form>
    </main>

{% endblock content %}