{% extends 'video/layout.html' %}
{% load static %}

{% block extra-header %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/pr.css'%}">

{% endblock extra-header %}



{% block content %}

    <main>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Reset Password</legend>
                {{ form }}
            </fieldset>
            <div class="form-func">
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </main>

{% endblock content %}
