{% extends 'video/layout.html' %}
{% load static %}

{% block extra-header %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">

{% endblock extra-header %}

{% block content %}

    <main>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>{{ user.username }}</legend>
                {{ updated_form.as_p }}
            </fieldset>
            <div class="form-func">
                <button type="submit">Update</button>
            </div>
        </form>
    </main>

{% endblock content %}