{% extends 'video/layout.html' %}

{% block extra-header %}

{% endblock extra-header %}

{% block content %}

    <main>
        <div>
            <h2>{{ user.username }}</h2>
            <p>{{ user.email }}</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Profile Info</legend>
                {{ updated_form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </main>

{% endblock content %}